# Backend API URL
VITE_API_URL=http://localhost:8000

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=877885675229-u1vqcf2o0c4fbjqvr6crjtkoiv2ve6gp.apps.googleusercontent.com

# Meta Pixel (Facebook Pixel) Tracking ID
VITE_META_PIXEL_ID=YOUR_META_PIXEL_ID
